@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Inter;
  background-color: #16a34a;
  user-select: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.next-button {
  margin-top: 1.6vw;
}

.player p {
  user-select: none;
  background-color: #3c638e;
}

.App {
  text-align: center;
}

.App-logo {
  height: 18vh;
  pointer-events: none;
  padding: 1.25vw;
  margin: auto;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /* background-color: #282c34; */
  /* min-height: 15vh; */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  flex-direction: row;
  align-items: center;
  justify-content:flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: auto 10vh;
  gap: 10vh;
}

.App-header p {
  padding-top: 1.6vw;
  user-select: none; 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table {
  height: 40vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7vh;
  background-color: white;
}

.team {
  height: 19vh;
  width: 14.5vw;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

.player {
  height: 19vh;
  width: 7.075vw;
  background-color: #3c638e;
  color: white;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tables {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2vh 2vw;
  row-gap: 2vh;
}

.control-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  flex-wrap: wrap;
  padding-top: 2vh;
  gap: 4vh;
}

.button {
  width: 95%;
  height: 5vh;
  background-color: #3c638e;
  border-radius: 1vh;
  color: white;
  font-family: Inter;
  }

.end-button {
  width: 95%;
  height: 5vh;
  background-color: #911924;
  border-radius: 1vh;
  color: white;
  font-family: Inter;
  }

.points {
  width: 100%;
}

.points-table {
  width: 95%;
  border-top-left-radius: 10vh;
  border-top-right-radius: 10vh;
}

.point_table {
  width: 100%;
}

.point_label {
  width: 100%;
  height: 7vh;
  color: black;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  font-weight: bold;
  /* border-radius: 1vh; */
}

.hello {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.player-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 80vh;
  margin-right: 15vw;
}

.player-input form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.player-input label {
  margin-bottom: 1em;
  font-size: 1.5em;
  color: white;
}

.player-input input {
  padding: 0.5em;
  font-size: 1.2em;
  margin-bottom: 1em;
  width: 300px;
  text-align: center;
  border-radius: 5px;
  border: none;
}

.player-input button {
  padding: 0.5em;
  font-size: 1.2em;
  width: 300px;
  background-color: #3c638e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer-div {
  margin-top: 10px;
  display:flexbox;
  height:100%;
  align-items: flex-start;
  padding: 2vh 2vw;
  color: white;
  text-align: left;
}